* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #f1f1f1;
  font-family: arial;
}
:root {
  --bluecolor: #167ac6;
  --grayColorOne: #b6b6b6;
}
img {
  width: 100%;
}
iframe {
  width: 100%;
}
li {
  list-style: none;
}
.navbar {
  position: sticky;
  background-color: white;
  top: 0;
}
.navbar > ul {
  display: flex;
  height: 3.2em;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 2em;
  width: 2em;
  padding: 1.5em;
}

.Hamburger {
  background-image: url("/assets/image/hamburger.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  background-color: transparent;
  border: 0 solid #212121;
  border-radius: 50%;
}

.logotop {
  width: 7.5em;
  height: auto;
}

.searchline {
  display: flex;
}
.searchbar {
  border: 0.1em solid var(--grayColorOne);
  width: 45em;
  padding-left: 0.3em;
}
.submitbutton {
  background-image: url("/assets/image/searchLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.2em;
  background-color: #f7f7f7;
  border: 0.05em solid var(--grayColorOne);
  width: 4.8em;
  height: 2.3em;
  padding: 0;
}

.leftcornercontiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.UploadAndSignContainer {
  width: 9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.SignIn {
  font-weight: bold;
  background-color: var(--bluecolor);
  padding: 0;
  height: 2.6em;
  color: aliceblue;
  width: 5.6em;
  border-radius: 0.2em;
  border: 0;
}
.upload {
  background-image: url("/assets/image/createLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.2em;
  border: 0;
  background-color: transparent;
  height: 2.25em;
  margin-left: 0;
}
button:active {
  filter: brightness(88%);
}
.popUp {
  border: 0.2em solid var(--bluecolor);
  background-color: white;
  height: 4em;
  display: flex;
  flex-direction: column;
}
.popUp > h4 {
  background-color: var(--bluecolor);
  padding: 0.5em;
  font-size: 0.9em;
  color: white;
}
.popUp > p {
  padding: 0.5em;
  font-size: 0.8em;
}
.popUp > p > a {
  text-decoration: none;
  color: var(--bluecolor);
}
